#beautifulsoup4==4.9.3
#Flask==2.0.2
#googlesearch_python==1.0.1
#numpy==2.1.2
#pandas>=2.2.3rc0
#python_dateutil==2.8.2
#requests==2.25.1
#scikit_learn==1.5.2
#whois==0.9.13
#gunicorn==20.1.0

#Flask==2.0.2
#Werkzeug==2.0.3
Flask
gunicorn
pandas
numpy
scikit-learn
xgboost
beautifulsoup4
requests
python-whois
python-dateutil
google
matplotlib
seaborn
tensorflow
ctgan